:root {
  --background: rgb(113, 121, 126, 0.3);
  --dark-background: rgb(113, 121, 126, 0.3);
  --standard-font-colour: rgb(0, 0, 0);
  --fonts: 'Roboto', sans-serif;
}

* {
  color: var(--standard-font-colour);
  font-family: var(--fonts);
}

html {
   background-color: var(--background);
}


body {
  margin: 0;
  background-color: var(--background);
}

@import './tables.scss';
@import './room.scss'