.room {
  background-color: #ece5dd;
  padding: 0 20px;
  // border-radius: 5px;
  // height: 90vh;
  position:relative;
  // width: 90vw;

  @media(min-width: 900px){
    max-width: 800px;
  }

  @media(max-width: 575px){
    // width: 100vw;
    // height: 100vh;
  }

 

  .header {
    background: #f2f6f8;
    margin: 0 -20px;
    padding: 20px;
    position:sticky;
    font-size: 1.25em;
    font-weight: 700;
  }



  .chat {
    display: grid;
    margin-left: 10px;

    @media only screen and (max-width: 600px) {
      margin-top: 10px;
      margin-left: unset;
    }

    grid-template-areas: 
                  "a a a c"
                  "a a a c"
                  "b b b _";
                  
    @media only screen and (max-width: 600px) {
      grid-template-areas: 
        "c"
        "a"
        "b";
    }

    gap: px;

  

    .messages {
      > div {
        padding: 10px;
        
        display: flex;
        flex-direction: column;

        > div {
          border-bottom: 1px solid #eee;
        }

        .them {
          justify-self: right;
          align-self: flex-end;
          width: 75%;
          text-align: right;
          padding:3px 0;
        }
        .you {
          padding:3px 0;
        }
      }
    }

    .messageWrap {
      background: #f2f6f8;
      padding: 20px;
      position:absolute;
      bottom:0;
      right:0;
      left: 0
      }

    .sendIconWrap {
      margin-left: 10px;
      > svg {
        fill:grey;
        margin-top: 5px;
      }
    }


    .message-input {
      display: flex;
      input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #eee;
        padding-left: 10px;
      }
      button {
        padding: 0.5em 1em;
        outline: none;
        border-radius: 0;
        border: 1px solid rgb(173, 173, 173);
        background-color: rgb(240, 240, 240);
      }
    }

    .users {
      h2 {
        margin-top: 0;
      }
      div {
        padding: 7px;

        background-color: #ffac47;

        p {
          margin: 3px;
        }
      }
    }
  }
}