.room {
  background-color: #ece5dd;
  padding: 0;
  position:relative;
 
  @media(min-width: 900px){
    width: 800px;
    height: 75vh;
  }

  @media(max-width: 899px){
     height: 100vh;
  }

 

  .header {
    background: #f2f6f8;
    margin: 0;
    padding: 10px;
    position:sticky;
    font-size: 1.25em;
    font-weight: 700;
    z-index: 1001;
    display:flex;
  }

  .characterImage{
    height: 45px;
    width: 45px;
    border-radius: 999px;
    margin-right:10px;
  }

  .characterName {
    line-height: 48px;
  }


  .chat {

    .messages {

      > div {
        padding: 30px 30px 20px; 
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;

        @media(max-width: 575px){
          padding: 20px;
        }

        > div {
          border-bottom: 1px solid #eee;
        }

        .them {
          background:	#f9f9f9;
          padding: 10px;
          border-radius: 5px;
          width: 60%;
        }
        .you {
          background:	rgb(182, 208, 226);
          padding: 10px;
          border-radius: 5px;
          width: 60%;
          justify-self: right;
          align-self: flex-end;
          text-align: right;
          margin:15px 0;
        }
      }
    }

    .messageWrap {
      background: #f2f6f8;
      padding: 10px  20px;
      position:absolute;
      bottom:0;
      right:0;
      left: 0;

      @media(max-width: 575px){
        padding:10px 20px 20px;

      }
    }

    .messageImage {
      width: 100%;
    }

    .sendIconWrap {
      margin-left: 15px;

      :hover {
        cursor: pointer;
      }
      > svg {
      fill:grey;
        margin-top: 11px;
      }
    }


    .message-input {
      display: flex;
      justify-content: center;

      input {
        border-radius: 5px;
        border: 1px solid #eee;
        padding-left: 10px;
        height: 40px;

        @media(max-width: 575px){
          width:100%
        }

        @media(min-width: 576px){
          width:65%
        }
      }
    }

  }
}